repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [
            'flake8-bugbear',
            'flake8-comprehensions',
            'flake8-print',
            'flake8-mutable',
            'flake8-use-fstring',
            'flake8-simplify',
            'flake8-pytest-style',
            'flake8-type-checking',
        ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.0.0
    hooks:
      - id: pyupgrade
        args: [ "--py3-plus", "--py36-plus", "--py37-plus" ]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
      - id: mypy
        additional_dependencies:
          - django-stubs
          - djangorestframework
          - djangorestframework-stubs
          - types-PyYAML
          - drf-yasg
          - drf-spectacular

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [ python ]
        exclude: tests|test_project|manage.py
        additional_dependencies:
          - django
          - djangorestframework
          - inflection
          - openapi-spec-validator
          - prance
          - pyYAML
          - django-stubs
          - djangorestframework-stubs
          - drf_yasg
          - drf-spectacular
          - pylint
          - faker
          - httpx
